ServiceBus_POC_Application/CustomerHub/service/chub.xsd

<xs:schema elementFormDefault="qualified" attributeFormDefault="unqualified" targetNamespace="http://service.chub.tdc.dk" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:common="http://service.chub.tdc.dk" xmlns:tns="http://service.chub.tdc.dk" xmlns:adr="http://service.chub.tdc.dk/domain/address" xmlns:anl="http://service.chub.tdc.dk/domain/cableunit" xmlns:afs="http://service.chub.tdc.dk/domain/styretafsaetning" xmlns:ord="http://service.tdc.dk/chub/order/v1" xmlns:cub="http://service.chub.tdc.dk/domain/cableunitbulk">

    <xs:include schemaLocation="../domain/chub.xsd"/>
    <xs:import namespace="http://service.chub.tdc.dk/domain/address" schemaLocation="../domain/address.xsd"/>
    <xs:import namespace="http://service.chub.tdc.dk/domain/styretafsaetning" schemaLocation="../domain/styretafsaetning.xsd"/>
    <xs:import namespace="http://service.chub.tdc.dk/domain/cableunit" schemaLocation="../domain/CableUnit.xsd"/>
    <xs:import namespace="http://service.tdc.dk/chub/order/v1" schemaLocation="Order.xsd"/>
    <xs:import namespace="http://service.chub.tdc.dk/domain/cableunitbulk" schemaLocation="../domain/CableUnitBulkSimple.xsd"/>

    <xs:complexType name="getAgreementRequest">
        <xs:sequence>
            <xs:element ref="common:UserId"/>
            <xs:element ref="common:RequestId" minOccurs="0"/>
            <xs:element ref="common:ProductCatalog" minOccurs="0"/>
            <xs:element name="Catalog" type="xs:string"/>
            <xs:element name="SalesChannel" type="xs:string" minOccurs="0"/>
            <xs:choice>
                <xs:element name="LinkItId" type="xs:string" minOccurs="0"/>
                <xs:element name="CvrNumber" type="common:CvrNr" minOccurs="0"/>
                <xs:element name="CustomerNoRef" type="xs:string" minOccurs="0"/>
                <xs:element ref="common:SubscriptionNo" minOccurs="0"/>
                <xs:element ref="tns:ServiceIdNo" minOccurs="0"/>
                <xs:element name="NameAddressID" type="xs:string" minOccurs="0"/>
                <xs:element ref="tns:AccountNo" minOccurs="0"/>
                <xs:element name="CprEncrypted" type="xs:string" minOccurs="0"/>
            </xs:choice>
            <xs:element name="ShortReply" type="xs:boolean" minOccurs="0"/>
            <xs:element name="StartPos" type="xs:int" minOccurs="0"/>
            <xs:element name="ReturnedSubscriptionCount" type="xs:int" minOccurs="0"/>
            <xs:element name="OrderApplyDate" type="xs:string" minOccurs="0"/>
            <xs:element name="SubscriptionCreateData" type="xs:boolean" minOccurs="0" default="false"/>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="getAgreementReply">
        <xs:complexContent>
            <xs:extension base="common:CommonStandardReply">
                <xs:sequence>
                    <xs:element name="NameAdressInfoList" type="tns:NameAddressInfo" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="AccountInfo" type="tns:AccountInfo" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="Subscription" type="tns:Subscription" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="More" type="xs:boolean" minOccurs="0"/>
                    <xs:element name="StartPos" type="xs:int" minOccurs="0"/>
                    <xs:element name="EndPos" type="xs:int" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="getFrequencyResponseType">
        <xs:complexContent>
            <xs:extension base="common:CommonStandardReply">
                <xs:sequence>
                    <xs:element ref="tns:InstalledCUProduct" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="getSubscriptionByCUOrderRequestType">
        <xs:sequence>
            <xs:element ref="common:UserId"/>
            <xs:element ref="common:RequestId" minOccurs="0"/>
            <xs:element ref="common:ProductCatalog" minOccurs="0"/>
            <xs:element name="Catalog" type="xs:string"/>
            <xs:element name="SalesChannel" type="xs:string" minOccurs="0"/>
            <xs:element ref="common:SubscriptionNo" minOccurs="0"/>
            <xs:choice>
                <xs:element ref="tns:OrderType"/>
                <xs:element ref="tns:KundesagsKode"/>
            </xs:choice>
            <xs:element ref="tns:CUOrdreLinie" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getSubscriptionByCUOrderResponseType">
        <xs:complexContent>
            <xs:extension base="common:CommonStandardReply">
                <xs:sequence>
                    <xs:element ref="common:SubscriptionNo" minOccurs="0"/>
                    <xs:element name="Product" type="tns:OrderProductType" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="getCprNameAddressRequest">
        <xs:sequence>
            <xs:element ref="common:UserId"/>
            <xs:element name="Cpr" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CommonStandardRequest">
        <xs:sequence>
            <xs:element name="SalesChannel" type="xs:string" minOccurs="0"/>
            <xs:element ref="common:UserId" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getLinkitInfoRequest">
        <xs:sequence>
            <xs:element ref="common:UserId"/>
            <xs:element ref="common:RequestId" minOccurs="0"/>
            <xs:element name="AccountNo" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="CvrNumber" type="common:CvrNr" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="Ban" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getLinkitInfoReply">
        <xs:complexContent>
            <xs:extension base="common:CommonStandardReply">
                <xs:sequence>
                    <xs:element name="LinkitInfoList" type="tns:LinkitInfo" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="getCprNameAddressReply">
        <xs:complexContent>
            <xs:extension base="common:CommonStandardReply">
                <xs:sequence>
                    <xs:element name="NameAddressInfoList" type="tns:NameAddressInfo" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="getAccountInformationRequest">
        <xs:sequence>
            <xs:element ref="common:UserId"/>
            <xs:element ref="common:RequestId" minOccurs="0"/>
            <xs:element ref="tns:CustomerNumber"/>
            <xs:element name="AccountNo" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getAccountInformationResponse">
        <xs:complexContent>
            <xs:extension base="common:CommonStandardReply">
                <xs:sequence>
                    <xs:element name="AccountInformationDetails" type="tns:AccountInformationDetailsType" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="getHistoryAccountInformationRequest">
        <xs:sequence>
            <xs:element ref="common:UserId"/>
            <xs:element ref="common:RequestId" minOccurs="0"/>
            <xs:element name="AccountNo" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getHistoryAccountInformationResponse">
        <xs:complexContent>
            <xs:extension base="common:CommonStandardReply">
                <xs:sequence>
                    <xs:element name="AccountInformationDetails" type="tns:AccountInformationDetailsType" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="getCustomerInformationRequest">
        <xs:sequence>
            <xs:element name="UserId" type="xs:string"/>
            <xs:element ref="common:RequestId" minOccurs="0"/>
            <xs:choice>
                <xs:element name="LinkItId" type="xs:string" minOccurs="0"/>
                <xs:element name="CvrNumber" type="common:CvrNr" minOccurs="0"/>
                <xs:element ref="tns:CustomerNumber" minOccurs="0"/>
                <xs:element ref="common:SubscriptionNo" minOccurs="0"/>
                <xs:element name="AccountNo" type="xs:string" minOccurs="0"/>
                <xs:element name="CprEncrypted" type="common:CprEncrypted" minOccurs="0"/>
                <xs:element ref="tns:ServiceIdNo" minOccurs="0"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getCustomerInformationResponse">
        <xs:complexContent>
            <xs:extension base="common:CommonStandardReply">
                <xs:sequence>
                    <xs:element ref="tns:CustomerInformation" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="getSubscriptionInformationRequestType">
        <xs:sequence>
            <xs:element name="UserId" type="xs:string"/>
            <xs:element ref="common:RequestId" minOccurs="0"/>
            <xs:element ref="common:SubscriptionNo"/>
            <xs:element ref="tns:AppendOrders" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getSubscriptionInformationResponseType">
        <xs:complexContent>
            <xs:extension base="common:CommonStandardReply">
                <xs:sequence>
                    <xs:element ref="tns:SubscriptionInformation"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>


    <xs:complexType name="getCustomerLIDRequest">
        <xs:sequence>
            <xs:element name="UserId" type="xs:string"/>
            <xs:element ref="common:RequestId" minOccurs="0"/>
            <xs:element ref="common:ProductCatalog" minOccurs="0"/>
            <xs:element name="Catalog" type="xs:string"/>
            <xs:choice>
                <xs:element name="LinkItId" type="xs:string" minOccurs="0"/>
                <xs:element name="CvrNumber" type="common:CvrNr" minOccurs="0"/>
                <xs:element ref="tns:CustomerNumber" minOccurs="0"/>
                <xs:element ref="common:SubscriptionNo" minOccurs="0"/>
                <xs:element name="AccountNo" type="xs:string" minOccurs="0"/>
                <xs:element name="CprEncrypted" type="common:CprEncrypted" minOccurs="0"/>
            </xs:choice>
            <xs:choice>
                <xs:element ref="tns:AppendOrdersToDate" minOccurs="0"/>
                <xs:element ref="tns:AppendOrdersToOrder" minOccurs="0"/>
                <xs:element ref="tns:AppendOrders" minOccurs="0"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getCustomerLIDResponse">
        <xs:complexContent>
            <xs:extension base="common:CommonStandardReply">
                <xs:sequence>
                    <xs:element ref="tns:CustomerLIDInformation" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="getCustomerSubscriptionsRequest">
        <xs:sequence>
            <xs:element ref="common:UserId"/>
            <xs:element ref="common:RequestId" minOccurs="0"/>
            <xs:choice>
                <xs:element name="LinkItId" type="xs:string" minOccurs="0"/>
                <xs:element name="CvrNumber" type="common:CvrNr" minOccurs="0"/>
                <xs:element ref="tns:CustomerNumber" minOccurs="0"/>
                <xs:element ref="common:SubscriptionNo" minOccurs="0" maxOccurs="200"/>
                <xs:element name="AccountNo" type="xs:string" minOccurs="0" maxOccurs="100"/>
                <xs:element name="CprEncrypted" type="common:CprEncrypted" minOccurs="0"/>
                <xs:element name="InstallationSequenceNumber" type="xs:long" minOccurs="0"/>
            </xs:choice>
            <xs:element ref="tns:PagingInfo" minOccurs="0"/>
            <xs:element ref="tns:IncludeAddresses" minOccurs="0"/>
            <xs:element ref="tns:IncludeAccounts" minOccurs="0"/>
            <xs:element ref="tns:IncludeOrderIndicator" minOccurs="0"/>
            <xs:element ref="tns:AppendOrders" minOccurs="0"/>
            <xs:element ref="tns:IncludeSplitOwner" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getCustomerSubscriptionsResponse">
        <xs:complexContent>
            <xs:extension base="common:CommonStandardReply">
                <xs:sequence>
                    <xs:element ref="tns:CustomerSubscription" minOccurs="1" maxOccurs="unbounded"/>
                    <xs:element ref="tns:PagingResultInfo" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="getCustomerSubscriptionProductsRequestType">
        <xs:sequence>
            <xs:element ref="common:UserId"/>
            <xs:element ref="common:RequestId" minOccurs="0"/>
            <xs:element ref="common:ProductCatalog" minOccurs="0"/>
            <xs:element ref="tns:IncludeAddresses" minOccurs="0"/>
            <xs:element name="Catalog" type="xs:string"/>
            <xs:choice>
                <xs:element name="LinkItId" type="xs:string" minOccurs="0"/>
                <xs:element name="CvrNumber" type="common:CvrNr" minOccurs="0"/>
                <xs:element ref="tns:CustomerNumber" minOccurs="0"/>
                <xs:element ref="common:SubscriptionNo" minOccurs="0" maxOccurs="200"/>
                <xs:element name="AccountNo" type="xs:string" minOccurs="0"/>
                <xs:element name="CprEncrypted" type="common:CprEncrypted" minOccurs="0"/>
                <xs:element name="InstallationSequenceNumber" type="xs:long" minOccurs="0"/>
            </xs:choice>
            <xs:element ref="tns:HideAdditionalProducts" minOccurs="0"/>
            <xs:choice>
                <xs:element ref="tns:AppendOrdersToDate" minOccurs="0"/>
                <xs:element ref="tns:AppendOrdersToOrder" minOccurs="0"/>
                <xs:element ref="tns:AppendOrders" minOccurs="0"/>
                <xs:element ref="tns:ShowDetailedOrders" minOccurs="0"/>
            </xs:choice>
            <xs:element name="SubscriptionCreateData" type="xs:boolean" minOccurs="0" default="false"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getCustomerSubscriptionProductsResponseType">
        <xs:complexContent>
            <xs:extension base="common:CommonStandardReply">
                <xs:sequence>
                    <xs:element ref="tns:CustomerSubscriptionProducts" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="getAfsaetningRequestType">
        <xs:sequence>
            <xs:element ref="common:UserId"/>
            <xs:element ref="common:RequestId" minOccurs="0"/>
            <xs:element ref="common:ProductCatalog" minOccurs="0"/>
            <xs:element ref="common:Catalogue"/>
            <xs:element ref="common:Category"/>
            <xs:element ref="afs:CustomerType"/>
            <xs:element ref="afs:ShowExistingProducts"/>
            <xs:element name="SPProductCode" type="common:SPCProductCodeType" minOccurs="0"/>
            <xs:choice>
                <xs:element ref="common:SubscriptionNo"/>
                <xs:element ref="anl:InstalSeqNo"/>
                <xs:element ref="adr:AmsAdrNo"/>
                <xs:element ref="adr:MadId"/>
                <xs:element ref="anl:CableUnitNumber"/>
            </xs:choice>
            <xs:element name="AfsaetningDate" type="xs:date" minOccurs="0"/>
            <xs:element ref="tns:AppendOrders" minOccurs="0"/>
            <xs:element ref="tns:AddPriceData" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getAfsaetningResponseType">
        <xs:complexContent>
            <xs:extension base="common:CommonStandardReply">
                <xs:sequence>
                    <xs:choice>
                        <xs:element ref="tns:AfsaetningProducts" maxOccurs="1"/>
                        <xs:element ref="tns:AfsaetningHierarchy" minOccurs="1" maxOccurs="unbounded"/>
                        <xs:element ref="anl:CableUnitNumber" minOccurs="1" maxOccurs="unbounded"/>
                    </xs:choice>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="migrateSubscriptionRequestType">
        <xs:sequence>
            <xs:element ref="common:User"/>
            <xs:element ref="common:RequestId" minOccurs="0"/>
            <xs:element ref="common:Catalogue"/>
            <xs:element ref="common:SubscriptionNumber"/>
            <xs:choice>
                <xs:element ref="tns:AppendOrdersToDate" minOccurs="0"/>
                <xs:element ref="tns:AppendOrdersToOrder" minOccurs="0"/>
                <xs:element ref="tns:AppendOrders" minOccurs="0"/>
            </xs:choice>
            <xs:element name="MigrateToSPCProduct" type="common:SPCProductCodeType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="migrateSubscriptionResponseType">
        <xs:complexContent>
            <xs:extension base="common:CommonStandardReply">
                <xs:sequence>
                    <xs:element ref="tns:MigrateToProduct" minOccurs="1"/>
                    <xs:element ref="tns:MigrateFromProduct" minOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="getCustomerSubscriptionsVKRequest">
        <xs:sequence>
            <xs:element ref="common:UserId"/>
            <xs:element ref="common:RequestId" minOccurs="0"/>
            <xs:element ref="common:SubscriptionNo"/>
            <xs:element name="AddMobileSubscriptions" type="xs:boolean" minOccurs="0"/>
            <xs:element name="IncludeAddresses" type="xs:boolean" minOccurs="0"/>
            <xs:element name="ExcludeXporting" type="xs:boolean" minOccurs="0"/>
            <xs:element name="HideActiveNumbers" type="xs:boolean" minOccurs="0"/>
            <xs:element ref="tns:PagingInfo" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getCustomerSubscriptionsVKResponse">
        <xs:complexContent>
            <xs:extension base="common:CommonStandardReply">
                <xs:sequence>
                    <xs:element ref="tns:CustomerSubscription" minOccurs="1" maxOccurs="unbounded"/>
                    <xs:element ref="tns:PagingResultInfo" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="getStatusRequestType">
        <xs:sequence>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getStatusResponseType">
        <xs:complexContent>
            <xs:extension base="common:CommonStandardReply">
                <xs:sequence>
                    <xs:element ref="tns:CUDataUpdateInformation"/>
                    <xs:element ref="tns:SPCDataUpdateInformation"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="listAccountsRequestType">
        <xs:sequence>
            <xs:element ref="common:UserId"/>
            <xs:element ref="common:RequestId" minOccurs="0"/>
            <xs:choice>
                <xs:element name="LinkItId" type="xs:string"/>
                <xs:element ref="tns:Cvr"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="listAccountsResponseType">
        <xs:complexContent>
            <xs:extension base="common:CommonStandardReply">
                <xs:sequence>
                    <xs:element ref="common:AccountNumber" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="getCprOrderNoCreationIfActiveRequestType">
        <xs:sequence>
            <xs:element ref="common:UserId"/>
            <xs:element ref="common:RequestId" minOccurs="0"/>
            <xs:element name="Cpr" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getCprOrderNoCreationIfActiveResponseType">
        <xs:complexContent>
            <xs:extension base="common:CommonStandardReply">
                <xs:sequence>
                    <xs:element name="OrderNumber" type="xs:int" minOccurs="0"/>
                    <xs:element name="CustomerNumber" type="xs:long" minOccurs="0"/>
                    <xs:element ref="common:UserId"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="searchByAddressRequestType">
        <xs:sequence>
            <xs:element ref="common:UserId"/>
            <xs:element ref="common:RequestId" minOccurs="0"/>
            <xs:choice>
                <xs:element ref="common:KVHXKey"/>
                <xs:element ref="tns:AddressSearch"/>
                <xs:element ref="adr:InstallationSequenceNumber"/>
                <xs:element ref="adr:AmsAdrNo"/>
                <xs:element ref="adr:MadId"/>
            </xs:choice>
            <xs:element ref="tns:AddressSearchResultType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="searchByAddressResponseType">
        <xs:complexContent>
            <xs:extension base="common:CommonStandardReply">
                <xs:sequence>
                    <xs:element ref="tns:CustomerAtAddress" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="searchHistoryByAddressRequestType">
        <xs:sequence>
            <xs:element ref="common:UserId"/>
            <xs:element ref="common:RequestId" minOccurs="0"/>
            <xs:element ref="adr:MadId" minOccurs="1"/>
            <xs:element ref="common:Catalogue" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="searchHistoryByAddressResponseType">
        <xs:complexContent>
            <xs:extension base="common:CommonStandardReply">
                <xs:sequence>
                    <xs:element ref="tns:CustomerHistoryAtAddress" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="CustomerHistoryAtAddressType">
        <xs:sequence>
            <xs:element ref="tns:CustomerNo"/>
            <xs:element ref="tns:NameInfo" minOccurs="0"/>
            <xs:element ref="tns:OldSubscription" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="CustomerHistoryAtAddress" type="tns:CustomerHistoryAtAddressType"/>

    <xs:complexType name="OldSubscriptionType">
        <xs:sequence>
            <xs:element ref="tns:SubscriptionNo"/>
            <xs:element ref="tns:AccountNumber"/>
            <xs:element ref="tns:TerminationOrder"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="OldSubscription" type="tns:OldSubscriptionType"/>

    <xs:complexType name="TerminationOrderType">
        <xs:sequence>
            <xs:element ref="ord:OrderNumber"/>
            <xs:element ref="common:OrderType"/>
            <xs:element ref="common:OrderCreationDay"/>
            <xs:element ref="tns:OrderProductByAddressList"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="TerminationOrder" type="tns:TerminationOrderType"/>

    <xs:complexType name="OrderProductByAddressListType">
        <xs:sequence>
            <xs:element ref="tns:OrderProductByAddress" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="OrderProductByAddressList" type="tns:OrderProductByAddressListType"/>

    <xs:complexType name="OrderProductByAddressType">
        <xs:sequence>
            <xs:element ref="tns:ProductAction"/>
            <xs:element ref="tns:ProductCode"/>
            <xs:element ref="tns:ProductName"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="OrderProductByAddress" type="tns:OrderProductByAddressType"/>

    <xs:complexType name="getLidtypResponseType">
        <xs:complexContent>
            <xs:extension base="common:CommonStandardReply">
                <xs:sequence>
                    <xs:element ref="tns:SubscriptionType" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="getNabsParametersRequestType">
        <xs:sequence>
            <xs:element ref="common:UserId"/>
            <xs:element ref="common:RequestId" minOccurs="0"/>
            <xs:choice>
                <xs:element ref="common:SubscriptionNo"/>
                <xs:element ref="common:Catalogue"/>
                <xs:element ref="tns:SPCProductCode"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getNabsParametersResponseType">
        <xs:complexContent>
            <xs:extension base="common:CommonStandardReply">
                <xs:sequence>
                    <xs:element ref="tns:NabsProduct"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="getCustomerLegacyKundenrRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="common:UserId"/>
                <xs:element ref="common:RequestId" minOccurs="0"/>
                <xs:choice>
                    <xs:element ref="common:LinkitId" minOccurs="1"/>
                    <xs:sequence>
                        <xs:element ref="tns:LinkitSystemKortNavn" minOccurs="1"/>
                        <xs:element ref="tns:LinkitLegacyKundenr" minOccurs="1"/>
                    </xs:sequence>
                </xs:choice>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getCustomerLegacyKundenrResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="common:CommonStandardReply">
                    <xs:sequence>
                        <xs:element ref="tns:LinkitId" minOccurs="1"/>
                        <xs:element name="LegacyKundenrList" type="tns:LegacyKundenrListType" minOccurs="0" maxOccurs="1"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="getPermissionItemListRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="common:UserId"/>
                <xs:element ref="common:RequestId" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getPermissionItemListResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="common:CommonStandardReply">
                    <xs:sequence>
                        <xs:element name="PermissionItemList" type="tns:PermissionItem" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="getAgreement">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="request" type="tns:getAgreementRequest"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getAgreementResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="return" type="tns:getAgreementReply"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getLinkitInfo">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="request" type="tns:getLinkitInfoRequest"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getLinkitInfoResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="return" type="tns:getLinkitInfoReply"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getCprNameAddress">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="UserId" type="xs:string"/>
                <xs:element name="Cpr" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getCprNameAddressResponse">
        <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="1">
                <xs:element name="return" type="tns:getCprNameAddressReply" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="getLidsRequestType">
        <xs:sequence>
            <xs:element ref="common:UserId"/>
            <xs:element ref="common:RequestId" minOccurs="0"/>
            <xs:element name="AccountNo" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getLidsResponseType">
        <xs:complexContent>
            <xs:extension base="common:CommonStandardReply">
                <xs:sequence>
                    <xs:element name="Lid" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="findSubscriptionInKISRequestType">
        <xs:sequence>
            <xs:element ref="common:UserId"/>
            <xs:element ref="common:RequestId" minOccurs="0"/>
            <xs:element ref="common:SubscriptionNo"/>
            <xs:choice>
                <xs:element ref="tns:KISId"/>
                <xs:element ref="tns:LinkitId"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="findSubscriptionInKISResponseType">
        <xs:complexContent>
            <xs:extension base="common:CommonStandardReply">
                <xs:sequence>
                    <xs:element name="SubscriptionActive" type="xs:boolean" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="getNextBillingDateRequestType">
        <xs:sequence>
            <xs:element ref="common:UserId"/>
            <xs:element ref="common:RequestId" minOccurs="0"/>
            <xs:element name="AccountNo" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getNextBillingDateResponseType">
        <xs:complexContent>
            <xs:extension base="common:CommonStandardReply">
                <xs:sequence>
                    <xs:element ref="common:NextBillingDateInfo" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="checkSuspensionStatusRequestType">
        <xs:sequence>
            <xs:element ref="common:UserId"/>
            <xs:element ref="common:RequestId" minOccurs="0"/>
            <xs:element name="Lid" type="xs:string" minOccurs="1" maxOccurs="20"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="checkSuspensionStatusResponseType">
        <xs:complexContent>
            <xs:extension base="common:CommonStandardReply">
                <xs:sequence>
                    <xs:element ref="common:SuspendedLid" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="searchVisitationRequestType">
        <xs:sequence>
            <xs:element ref="common:UserId"/>
            <xs:element ref="common:RequestId" minOccurs="0"/>
            <xs:element ref="adr:MadId"/>
            <xs:element ref="tns:ShowFormerLids"/>
            <xs:element ref="common:ProductCatalog" minOccurs="0"/>
            <xs:element ref="common:Catalogue" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="searchVisitationResponseType">
        <xs:complexContent>
            <xs:extension base="common:CommonStandardReply">
                <xs:sequence>
                    <xs:element ref="tns:SearchVisitationCustomer" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="getProductOfferingRequestType">
        <xs:sequence>
            <xs:element ref="common:UserId"/>
            <xs:element ref="common:RequestId" minOccurs="0"/>
            <xs:choice>
                <xs:element ref="anl:InstalSeqNo"/>
                <xs:element ref="anl:CableUnitNumber"/>
            </xs:choice>
            <xs:element ref="common:ProductCatalog" minOccurs="0"/>
            <xs:element ref="common:Catalogue" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getProductOfferingResponseType">
        <xs:complexContent>
            <xs:extension base="common:CommonStandardReply">
                <xs:sequence>
                    <xs:element ref="tns:CableUnitProperties"/>
                    <xs:element ref="afs:ProductOfferingProductGroup" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element ref="tns:ProductOfferingProduct" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="getProductGroupsRequestType">
        <xs:sequence>
            <xs:element ref="common:UserId"/>
            <xs:element ref="common:RequestId" minOccurs="0"/>
            <xs:element ref="afs:ProductGroupCode" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="common:ProductCatalog" minOccurs="0"/>
            <xs:element ref="common:Catalogue" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getProductGroupsResponseType">
        <xs:complexContent>
            <xs:extension base="common:CommonStandardReply">
                <xs:sequence>
                    <xs:element ref="afs:ProductGroupList" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="getBroadbandServicesRequestType">
        <xs:sequence>
            <xs:element ref="common:UserId"/>
            <xs:element ref="common:RequestId" minOccurs="0"/>
            <xs:element ref="tns:SubscriptionNo"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getBroadbandServicesResponseType">
        <xs:complexContent>
            <xs:extension base="common:CommonStandardReply">
                <xs:sequence>
                    <xs:element ref="tns:BroadbandService" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="getTrackAndTraceRequestType">
        <xs:sequence>
            <xs:element ref="common:UserId"/>
            <xs:element ref="common:RequestId" minOccurs="0"/>
            <xs:element minOccurs="1" name="OrderId" nillable="true" type="xs:long"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getTrackAndTraceResponseType">
        <xs:complexContent>
            <xs:extension base="common:CommonStandardReply">
                <xs:sequence>
                    <xs:element ref="tns:TrackAndTraceInfo" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="getCableUnitOCustomerProductsRequestType">
        <xs:sequence>
            <xs:element ref="common:UserId"/>
            <xs:element ref="common:RequestId" minOccurs="0"/>
            <xs:element name="Date" type="xs:date" minOccurs="1"/>
            <xs:choice>
                <xs:element ref="common:ProductCatalogue"/>
                <xs:element ref="common:Catalogue"/>
                <xs:element ref="anl:CableUnitNumber"/>
                <xs:element ref="anl:CableUnitId"/>
                <xs:element ref="anl:InstalSeqNo" maxOccurs="100"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getCableUnitOCustomerProductsResponseType">
        <xs:complexContent>
            <xs:extension base="common:CommonStandardReply">
                <xs:sequence>
                    <xs:element ref="tns:InstalSeqNumList" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="InstalSeqNumList" type="tns:InstalSeqNumListType">
        <xs:annotation>
            <xs:documentation>The actual response List</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="InstalSeqNumListType">
        <xs:sequence>
            <xs:element ref="anl:InstalSeqNo" minOccurs="1"/>
            <xs:element name="ProductCode" type="tns:ProductCodeType"/>
            <xs:element ref="common:ProductName" minOccurs="1"/>
            <xs:element ref="common:BillingStartDate"/>
            <xs:element ref="tns:OrderListForTheCustomer" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="OrderListForTheCustomer" type="tns:OrderListForTheCustomerType">
        <xs:annotation>
            <xs:documentation>List orders.</xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:complexType name="OrderListForTheCustomerType">
        <xs:sequence>
            <xs:element ref="cub:OrderNumber" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="cub:OrderBookingDate"/>
            <xs:element ref="tns:Orderlines" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="Orderlines" type="tns:OrderlinesType">
        <xs:annotation>
            <xs:documentation>List orders.</xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:complexType name="OrderlinesType">
        <xs:sequence>
            <xs:element name="ProductCode" type="tns:ProductCodeType"/>
            <xs:element ref="common:ProductName" minOccurs="1"/>
            <xs:element ref="common:BillingStartDate" minOccurs="0"/>
            <xs:element ref="common:BillingEndDate" minOccurs="0"/>
            <xs:element ref="common:ProductAction" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>


    <xs:element name="getAccountInformationRequest" type="tns:getAccountInformationRequest"/>
    <xs:element name="getAccountInformationResponse" type="tns:getAccountInformationResponse"/>
    <xs:element name="getHistoryAccountInformationRequest" type="tns:getHistoryAccountInformationRequest"/>
    <xs:element name="getHistoryAccountInformationResponse" type="tns:getHistoryAccountInformationResponse"/>
    <xs:element name="getCustomerInformationRequest" type="tns:getCustomerInformationRequest"/>
    <xs:element name="getCustomerInformationResponse" type="tns:getCustomerInformationResponse"/>
    <xs:element name="getSubscriptionInformationRequest" type="tns:getSubscriptionInformationRequestType"/>
    <xs:element name="getSubscriptionInformationResponse" type="tns:getSubscriptionInformationResponseType"/>
    <xs:element name="getCustomerLIDRequest" type="tns:getCustomerLIDRequest"/>
    <xs:element name="getCustomerLIDResponse" type="tns:getCustomerLIDResponse"/>
    <xs:element name="getCustomerSubscriptionsRequest" type="tns:getCustomerSubscriptionsRequest"/>
    <xs:element name="getCustomerSubscriptionsResponse" type="tns:getCustomerSubscriptionsResponse"/>
    <xs:element name="getCustomerSubscriptionsVKRequest" type="tns:getCustomerSubscriptionsVKRequest"/>
    <xs:element name="getCustomerSubscriptionsVKResponse" type="tns:getCustomerSubscriptionsVKResponse"/>
    <xs:element name="getSubscriptionByCUOrderRequest" type="tns:getSubscriptionByCUOrderRequestType"/>
    <xs:element name="getSubscriptionByCUOrderResponse" type="tns:getSubscriptionByCUOrderResponseType"/>
    <xs:element name="getCustomerSubscriptionProductsRequest" type="tns:getCustomerSubscriptionProductsRequestType"/>
    <xs:element name="getCustomerSubscriptionProductsResponse" type="tns:getCustomerSubscriptionProductsResponseType"/>
    <xs:element name="getStatusRequest" type="tns:getStatusRequestType"/>
    <xs:element name="getStatusResponse" type="tns:getStatusResponseType"/>
    <xs:element name="migrateSubscriptionRequest" type="tns:migrateSubscriptionRequestType"/>
    <xs:element name="migrateSubscriptionResponse" type="tns:migrateSubscriptionResponseType"/>
    <xs:element name="getCprOrderNoCreationIfActiveRequest" type="tns:getCprOrderNoCreationIfActiveRequestType"/>
    <xs:element name="getCprOrderNoCreationIfActiveResponse" type="tns:getCprOrderNoCreationIfActiveResponseType"/>
    <xs:element name="listAccountsRequest" type="tns:listAccountsRequestType"/>
    <xs:element name="listAccountsResponse" type="tns:listAccountsResponseType"/>
    <xs:element name="searchByAddressRequest" type="tns:searchByAddressRequestType"/>
    <xs:element name="searchByAddressResponse" type="tns:searchByAddressResponseType"/>
    <xs:element name="searchHistoryByAddressRequest" type="tns:searchHistoryByAddressRequestType"/>
    <xs:element name="searchHistoryByAddressResponse" type="tns:searchHistoryByAddressResponseType"/>
    <xs:element name="getNabsParametersRequest" type="tns:getNabsParametersRequestType"/>
    <xs:element name="getNabsParametersResponse" type="tns:getNabsParametersResponseType"/>
    <xs:element name="getAfsaetningRequest" type="tns:getAfsaetningRequestType"/>
    <xs:element name="getAfsaetningResponse" type="tns:getAfsaetningResponseType"/>
    <xs:element name="getLidsRequest" type="tns:getLidsRequestType"/>
    <xs:element name="getLidsResponse" type="tns:getLidsResponseType"/>
    <xs:element name="getNextBillingDateRequest" type="tns:getNextBillingDateRequestType"/>
    <xs:element name="getNextBillingDateResponse" type="tns:getNextBillingDateResponseType"/>
    <xs:element name="findSubscriptionInKISRequest" type="tns:findSubscriptionInKISRequestType"/>
    <xs:element name="findSubscriptionInKISResponse" type="tns:findSubscriptionInKISResponseType"/>
    <xs:element name="checkSuspensionStatusRequest" type="tns:checkSuspensionStatusRequestType"/>
    <xs:element name="checkSuspensionStatusResponse" type="tns:checkSuspensionStatusResponseType"/>
    <xs:element name="searchVisitationRequest" type="tns:searchVisitationRequestType"/>
    <xs:element name="searchVisitationResponse" type="tns:searchVisitationResponseType"/>
    <xs:element name="getProductOfferingRequest" type="tns:getProductOfferingRequestType"/>
    <xs:element name="getProductOfferingResponse" type="tns:getProductOfferingResponseType"/>
    <xs:element name="getProductGroupsRequest" type="tns:getProductGroupsRequestType"/>
    <xs:element name="getProductGroupsResponse" type="tns:getProductGroupsResponseType"/>
    <xs:element name="getBroadbandServicesRequest" type="tns:getBroadbandServicesRequestType"/>
    <xs:element name="getBroadbandServicesResponse" type="tns:getBroadbandServicesResponseType"/>
    <xs:element name="getTrackAndTraceRequest" type="tns:getTrackAndTraceRequestType"/>
    <xs:element name="getTrackAndTraceResponse" type="tns:getTrackAndTraceResponseType"/>
    <xs:element name="getCableUnitOCustomerProductsRequest" type="tns:getCableUnitOCustomerProductsRequestType"/>
    <xs:element name="getCableUnitOCustomerProductsResponse" type="tns:getCableUnitOCustomerProductsResponseType"/>
</xs:schema>